registry=https://registry.npmjs.org/
@eds:registry=https://artifacts.ol.epicgames.net/artifactory/api/npm/npm-all/
@epic-typeface:registry=https://artifacts.ol.epicgames.net/artifactory/api/npm/npm-all/
always-auth=true
